<div class="row">
<div class="messageScreen">
    

        

        <div>
        <mat-card class="name">
            <table>
                <tr>
                    <div>
                        <th>
                        <img class="imgs" src="https://uifaces.co/our-content/donated/gPZwCbdS.jpg" alt="">
                    </th>
                    </div>
                    
                    <th>
                        {{name}} <br>
                        <small>{{status}} </small>



                    </th>
                    <th>
                        <mat-icon class="callicon"> call</mat-icon>
                    </th>
                    <th>
                        <mat-icon class="videocall">videocam</mat-icon>
                    </th>
                </tr>

            </table>

        </mat-card>
    </div>
    
  <div>
        <mat-card class="messageRecieved">
            <h4>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </h4>
            <small style="color: rgb(211, 211, 211); float: right;">3:06 pm</small>

        </mat-card>
    </div>
<div>
        <mat-card class="messageSent">
            <h4>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </h4>
            <small style="color: rgb(211, 211, 211); float: right;">3:08 pm</small>

        </mat-card>
    </div>
<div>
        <mat-card class="messageRecieved">
            <h4>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </h4>
            <small style="color: rgb(211, 211, 211); float: right;">3:15 pm</small>

        </mat-card>
    </div>
    <div>
        <mat-card class="messageSent">
            <h4>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            </h4>
            <small style="color: rgb(211, 211, 211); float: right;">3:20 pm</small>

        </mat-card>
    </div>
    <div>
        <mat-card class="footter">
            <table >
                <tr>
                    <th>
                        <mat-icon class="cam">camera_alt</mat-icon>
                    </th>
                    <th>
                        <input type="text" placeholder="Type your message here ...">
    
                    </th>
                    <th>
                        <mat-icon class="attach"> attach_file</mat-icon>
                    </th>
                    <th>
                        <mat-icon class="sendb">send</mat-icon>
                    </th>
    
                </tr>
            </table>
    
        </mat-card> 
    </div>

    </div>

        

    
     
    


</div>


