

<div class="row">
    <div class="ulist">
        <div>
        <table>
            <tr>
                <th class="logo">
                    PIPER CHAT

                </th>
                <th>

                </th>
                <th class="icondrag">
                    <mat-icon>drag_indicator</mat-icon>
                </th>
            </tr>
        </table>
    </div>
    <div>
        <mat-card class="search">
            <table>
                <tr>
                    <th >
                        <mat-icon class="iconsearch">search</mat-icon>
                    </th>
                    <th>
                        <input type="text" placeholder="search">

                    </th>

                </tr>
            </table>
        </mat-card>
    </div>
        <div class="users">
            <div>
            <mat-card class="name">
                <table>
                    <tr>
                        <th rowspan="2">
                            <img class="imgs" src="https://uifaces.co/our-content/donated/gPZwCbdS.jpg" alt="">
                        </th>
                        <th>
                            {{name1}}
                            <small class="time">{{time}}</small> <br>
                            <mat-icon class="icondone">done_all</mat-icon><small>Always available</small>

                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </table>
            </mat-card>
        </div>
        <mat-divider></mat-divider>
        <div>
            
            <mat-card class="name">
                <table>
                    <tr>
                        <th>
                            <img class="imgs"
                                src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=046c29138c1335ef8edee7daf521ba50"
                                alt="">
                        </th>
                        <th>
                            {{name2}} <small class="time">{{time}}</small> <br>
                            <mat-icon class="icondone">done_all</mat-icon>
                            <small>Always available</small>
                        </th>
                    </tr>
                </table>
            </mat-card>
        </div>
            <mat-divider></mat-divider>
        <div>
            <mat-card class="name">
                <table>
                    <tr>
                        <th>
                            <img class="imgs"
                                src="https://images.unsplash.com/photo-1498529605908-f357a9af7bf5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=047fade70e80ebb22ac8f09c04872c40"
                                alt="">
                        </th>
                        <th>
                            {{name3}}<small class="time">{{time}}</small> <br>
                            <mat-icon class="icondone">done_all</mat-icon><small>Always available</small>
                        </th>
                    </tr>
                </table>
            </mat-card>
        </div>
            <mat-divider></mat-divider>
            <div>
            <mat-card class="name">
                <table>
                    <tr>
                        <th>
                            <img class="imgs"
                                src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=74daec1914d1d105202bca8a310a6a71"
                                alt="">
                        </th>
                        <th>
                            {{name4}} <small class="time">{{time}}</small><br>
                            <mat-icon class="icondone">done_all</mat-icon><small>Always available</small>
                        </th>
                    </tr>
                </table>
            </mat-card>
        </div>
            <mat-divider></mat-divider>
            <div>
            <mat-card class="name">
                <table>
                    <tr>
                        <th>
                            <img class="imgs" src="https://uifaces.co/our-content/donated/L7wQctBt.jpg" alt="">
                        </th>
                        <th>
                            {{name5}} <small class="time">{{time}}</small> <br>
                            <mat-icon class="icondone">done_all</mat-icon><small>Always available</small>
                        </th>
                    </tr>
                </table>
            </mat-card>
        </div>
        <div>
            <mat-card class="name">
                <table>
                    <tr>
                        <th>
                            <img class="imgs" src="https://uifaces.co/our-content/donated/N8kxcjRw.jpg" alt="">
                        </th>
                        <th>
                            {{name6}} <small class="time">{{time}}</small> <br>
                            <mat-icon class="icondone">done_all</mat-icon><small>Always available</small>
                        </th>
                    </tr>
                </table>
            </mat-card>
        </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>